@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    list-style: none;
}

/* navbar section star  */
.navbar {
    background-color: rgb(255, 246, 246);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.nav-menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu-list-item {
    padding: 0 25px;
    cursor: pointer;
}

.navbar-title {
    color: #DD52A4ff;
    font-size: 25px;
}

/* header banner section start  */
.header-banner {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 850px;
    width: auto;
    gap: 100px;
}

.header-banner-content {
    padding-left: 10%;
}

.header-banner-title {
    color: #272727;
    font-size: 50px;
    line-height: 60px;
}

.header-banner-description {
    margin: 32px 0;
}

.header-banner-btn {
    background-color: #DD52A4ff;
    padding: 20px 45px;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}

.header-banner-image-section {
    padding-right: 25px;
}

.header-banner-image {
    height: 650px;
    width: auto;
    margin-top: 205px;
    margin-right: 100px;
}

/* feature section star  */
.feature-content,
.top-sale-content {
    text-align: center;
    margin-top: 100px;
}

.feature-title,
.top-sale-content-title,
.instagram-content-title,
.blog-content-title {
    font-size: 35px;
}

.feature-description,
.top-sale-content-description,
.instagram-content-description,
.blog-content-description {
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0 25%;
}

.feature-container {
    display: flex;
    justify-content: center;
    padding: 0 240px;
    gap: 24px;
}

.feature-container-item {
    text-align: center;

}

.feature-box-1,
.feature-box-2,
.feature-box-3 {
    width: 320px;
    height: 350px;
    border-radius: 300px 300px 0px 0px;
}

.feature-box-1 {
    background: rgba(167, 33, 98, 0.15);
}

.feature-box-2 {
    background: rgba(5, 151, 160, 0.15);
}

.feature-box-3 {
    background: rgba(71, 125, 17, 0.15);
}

.feature-box-img {
    height: 250px;
    width: auto;
    margin-top: 100px;
}

.feature-box-description {
    margin: 25px;
    text-decoration: underline;
    font-weight: 700;
}

/* top sale section  */
.top-sale-box-container {
    display: flex;
    justify-content: center;
    padding: 0 240px;
    gap: 24px;
    text-align: center;
}

.top-sale-box-1,
.top-sale-box-2,
.top-sale-box-3 {
    width: 320px;
    height: 350px;
    background-color: rgb(233, 233, 233);
    border-radius: 8px;
}

.top-sale-box-img {
    height: 250px;
    width: auto;
    margin-top: 100px;
}

.top-sale-box-description {
    margin: 15px 0;
}

.price {
    color: #DD52A4ff;
    font-size: 15px;
    font-weight: 700;
    margin: 15px 0;
}

/* offer banner section  */
.offer-banner,
.video-banner-container {
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    justify-content: center;
    height: 620px;
    width: auto;
    align-items: center;
    margin: 100px 0;
}

.offer-banner-content {
    padding-left: 20%;
}

.offer-banner-content-title,
.subscription-content-title {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;

}

.offer-banner-btn {
    background-color: #DD52A4ff;
    padding: 15px 30px;
    border-style: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}

.offer-banner-picture {
    padding-right: 13%;
}

.offer-banner-picture img {
    width: auto;
    height: 350px;
}

.offer-banner-content-description {
    padding-right: 75px;
}

/* instagram section  */
.instagram {
    text-align: center;
}

.instagram-container {
    display: flex;
    justify-content: space-around;
}

.instagram-item-img {
    width: auto;
    height: 250px;
    padding: 0 10px;
}

/* video banner section  */
.video-banner-container {
    gap: 100px;
}

.video-banner {
    padding-left: 10%;
}

.video-banner-item {
    height: 350px;
    width: auto;
    box-shadow: 10px 10px 25px gray;
    border-radius: 25px;
}

.video-banner-content {
    padding-right: 10%;
}

.video-banner-content-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
}

.video-banner-btn {
    background-color: white;
    padding: 15px 30px;
    border: 2px solid #DD52A4ff;
    color: #DD52A4ff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}

/* blog section  */
.blog {
    margin-bottom: 100px;
}

.blog-content {
    text-align: center;
    margin-bottom: 35px;
}

.blog-container {
    display: flex;
    justify-content: center;
    padding: 0 15%;
    gap: 25px;
}

.blog-item {
    /* height: 450px;
    width: 300px; */
    width: 320px;
    height: 380px;
    border: 1px solid #DD52A4ff;
    border-radius: 8px;
    padding: 20px;
}

.blog-img {
    width: 280px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.blog-item-title {
    font-size: 25px;
    margin-top: 10px;
}

.blog-info {
    text-align: center;
}

.blog-info i {
    padding: 0 10px;
    color: #DD52A4ff;
}

/* subscription section  */
.subscription-section {
    background-image: url('../assets/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 350px;
    width: auto;
    margin: 100px 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    border-style: none;
    padding: 20px 350px 20px 20px;
    /* padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 350px; */
    margin-top: 20px;
}

.subscription-btn {
    border-style: none;
    background-color: #DD52A4ff;
    font-size: 15px;
    color: white;
    padding: 20px 35px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* footer section  */
.footer-content {
    background-color: #272727;
    text-align: center;
    color: white;
    height: 300px;
    padding-top: 10%;
}

.footer-content-title {
    font-size: 48px;
    font-weight: 800;
}
.footer-content-description{
    padding: 0 23%;
    margin: 20px 35px;
}